<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">e-Wallet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="balance">
    <ion-row>
      <div class="balance-box">
        <h1><ion-badge color="light">MYR</ion-badge>{{ fixTwo(user.balance )}}</h1>
      </div>
    </ion-row>
    <ion-row>
      <div class="balance-box" (click)="goAddP()">
        <p>Add Payment Method ></p>
        <img src="assets/imgs/cardlist.png"/>
      </div>
    </ion-row>
  </div>
  <div class="main">
    <ion-row>
      <ion-card padding>
        <ion-row>
          <ion-col (click)="goPay()">
            <img src="assets/imgs/iconpay.png"/>
          </ion-col>
          <ion-col (click)="goTopuplanding()">
            <img src="assets/imgs/icontopup.png"/>
          </ion-col>
        </ion-row>
        <ion-row style="text-align: center">
          <ion-col>
            <p>Pay</p>
          </ion-col>
          <ion-col>
            <p>Top Up</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="user.card">
      <ion-card padding>
        <p>QUICK ACCESS</p>
        <ion-row>
          <ion-col>
            <img [src]="user.card.icon"/>
          </ion-col>
          <ion-col>
            <ion-item>
              <p>{{ maskThis(user.card.number) }}</p>
              <br>
              <p>Valid Thru {{ user.card.expiry }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <button ion-button item-left outline *ngIf="!checkValue(20)" value="20" (click)="setValue(20)">20.00</button>
          <button ion-button item-left *ngIf="checkValue(20)" (click)="setValue(20)">20.00</button>
          <button ion-button item-left outline *ngIf="!checkValue(50)" value="50" (click)="setValue(50)">50.00</button>
          <button ion-button item-left *ngIf="checkValue(50)" (click)="setValue(50)">50.00</button>
          <button ion-button item-left [disabled]="!transaction.value" (click)="quickPay()">Confirm</button>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card padding>
        <p>RECENT ACTIVITY</p>
        <button ion-item *ngFor="let transaction of user.transactions">
          <ion-badge color="dark" item-left>{{ transaction.provider.name }}</ion-badge>
          Top Up
          <ion-badge item-right>{{ transaction.sign }}RM{{ fixTwo(transaction.value) }}</ion-badge>
        </button>
        <button ion-item *ngIf="user.transactions.length == 0">No transactions yet.</button>
        <button ion-button clear full *ngIf="user.transactions.length > 0" (click)="goSMore()">SEE MORE</button>
      </ion-card>
    </ion-row>
  </div>
</ion-content>
